
body,
html {
  font-family: "Inter", sans-serif;
  margin: 0;
}



header {
 
  height: 152px;
  background-color: #F20CB5;
}
.search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
 
}
.search .form {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}
.search .form input{
  height: 62px;
  border-radius: 14px;
  border: none;
  width: 505px;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;

}
.search .icon-social ul{
  display: flex;
  justify-content: flex-end;
  list-style-type:none ;
  margin: 0;
  padding: 0;
}
.search .icon-social ul li{
  padding: 0 10px;
}
.nav {
  padding: 10px 0;
  margin-top: 10px;
}
.nav ul{
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.nav ul li a{
  color: white;
  font-weight: 700;
  text-align: left;
  text-decoration: none;
}
.nav ul li a:hover {
  text-decoration: underline;
}


section {
  height: 340px;
}
section#hero {
  background: url("../starter/hero_bg.png");
  background-size: cover;
  background-position: top center;
}
section#hero .container{
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.title-container span{
  display: block;
  color: aqua;
  font-weight: 700;
}
.title-container span:first-child {
  font-size: 40px;
}
.title-container span:last-child {
  font-size: 100px;
  line-height: 80px;
}




main {
 height: auto;
 margin-top: 28px;
}

.product-img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  object-position: center center;
 }
.product-price-block {
 display: flex;
 margin: 5px 0;
 justify-content: space-between;
 align-items: center;
}

.product-card{
  background-color: #42b1dd73;
  border-radius: 14px;
  max-width: auto;
  overflow: hidden;
}
.product-info {
  padding: 20px;
  box-sizing: border-box;
}
.product-title{
  font-size: 18px;
  font-weight: bold;
  word-wrap: break-word;
  display: block;
  line-height: 22px;
}
.product-description {
  font-size: 14px;
  font-weight: normal;
  color: #333;
  margin-bottom: 6px;
}
.product-tax-policy{
  font-size: 12px;
  font-weight: lighter;
}
.product-price-block .price {
  font-size: 22px;
  font-weight: 700;
  flex: 1;
}
.product-price-block .discount {
  font-size: 12px;
  font-weight: 700;
  color: #428f13;
}


.producto-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  
}

.producto-container a{
  text-decoration: none;
  color: initial;
}
.container {
  width: 100%;
  margin: 0 auto;
  
  height: inherit;
  min-height: inherit;
 
}


footer {
  
  background-color: #7535a7;
 
}

footer .container{
  
  display: flex;
  flex-direction: column;
}

.columnas-container{
  flex: 1;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  
}

.columnas-container .col ul{
  list-style-type: none;
  padding: 0;
}

.columnas-container .col ul li{
  padding: 5px 12px;
}

.columnas-container .col ul li .col-main-item{
  font-weight: bold;
  padding-bottom: 20px;
}

.columnas-container .col ul li a{
  color: white;
  text-decoration: none;
}

.copyright {
  border-top: 1px solid #ec19a6;
  text-align: center;
  color: white;
  font-weight: bold;
  padding: 30px 0;
  box-sizing: border-box;
  
}



@media (max-width: 768px) {
  .search .logo img{
    width: 310px;
  }
  
  .search .form input{
    width: 370px;
  }
  
  .producto-container{
    grid-template-columns: repeat(2, 1fr);
    
  
  }
  .product-card{
   max-width: 380px;
   
  }
}



@media (max-width: 425px) {
  
  
  
  .search .logo img{
    width: 150px;
  }
  .nav {
    font-size: 15px;

  }
  .search .form input{
    width: 190px;
    height: 40px;
  }
 
  .title-container span:last-child{

    font-size: 95px;
    line-height: 80px;
  }
  .container{
    width: 100%;
  }
  .producto-container {
    grid-template-columns: repeat(1, 1fr);
    

  }
  .product-card {
    max-width: 425px;
    
  }
 
}





